*{
	margin: 0px;
	padding: 0px;
}
a{
	text-decoration: none; /*去掉所有A标签的下划线*/
}
#toubu,#zhuti,#weibu{
	margin: auto; /*整体居中*/
}
#toubu{
	height: 100px;
	border-bottom: 1px solid #A9A9A9;
	box-shadow: 0px 1px 8px #999;
}
#zhuti{
	height: 500px;
	box-sizing: border-box;
	padding-top: 20px;
	position: relative;
}
#weibu{
	height: 150px;
	background-color: rgb(230,230,230);
}
.d11{
	background: url(../img/a/QQ截图20180519153603.png) no-repeat;
	width: 250px;
	height: 80px;
	background-size: cover;
	float: left;/*浮动*/
	margin: 10px 0px 10px 25px;
}
.d12{
	float: left;
	font-size: 18px;
	color: #999;
	margin: 40px 0px 40px 25px;
}
.d13{
	float: right;
	color: #999;
	margin: 40px 25px 40px 0px;
}
.d13 a{
	color: #F00;
}
.d13 a:hover{
	color:crimson;
}
#weibu p{
	text-align: center;
	color:#777;
	padding-top: 40px;
}
#weibu a{
    display: inline-block; /*将底部的A标签转为块元素*/
    margin: 0px 10px;
    color: #777;
    font-size: 14px;
}
#weibu a:hover{
	text-decoration: underline;
}
.d2{
	width: 600px;
	height: 450px;
	margin: auto; /*居中显示*/
}
.d21{
	width: 600px;
	height: 80px;
}
.d21>div{
	float: left;
	width: 190px;
	height: 80px;
	border-bottom:2px solid #CCC;
	margin: 0px 5px;

}
.d21>div>p{
	text-align: center;
	margin-top: 5px;
	font-size: 14px;
	color: #999;
}
.d21>div>span{
	box-sizing: border-box;/*固定宽高*/
	background-color: #CCC;
	text-align: center;
	padding-top:4px;
	display:inline-block;
	height: 30px;
	width: 30px;
	font-size: 16px;
	font-weight: bold;
	border-radius: 50%;
	margin:10px 0px 10px 80px;
	color: #EEE;
}
.d21>div:first-of-type{
	border-bottom-color: #F00;
}
#i1{
	background-color:rgb(196,0,0);
}
form{
	height: 370px;
	width: 370px;
	display:inline-block;
	margin:0px 115px;
	padding:75px 0px 0px 35px;
	position: relative;/*设为相对定位*/
}
input{
	border: 1px solid #CCC;
}
#input1,#input2{
	display: inline-block; /*换换元素*/
	margin-bottom:30px;
    box-sizing: border-box;
    outline:none;/*去掉input框框聚焦时的阴影*/
   color:#555;
}
#input1{
	height: 40px;
	font-size: 20px;
	width: 300px;
	float: left;
}
#input2{
	height: 40px;
	font-size: 20px;
	width: 200px;
	float: left;
}
form #d221{
	margin-left: 20px;
	height: 40px;
	width: 80px;
	float: left;
	text-align: center;
	font-size: 12px;
	line-height: 40px;
	background-color: #DDD;
	color: #555;
}
form #d221:hover{
	background-color:lightgreen;
	color: #FFF;
}
input[type=submit]{
    cursor: pointer;
	position: absolute;
	top: 250px;
	left: 85px;
	display: inline-block;/*转为块元素*/
	font-size: 20px;
	width: 200px;
	height: 50px;
	border: 0px;
	color: #fff;
	background-color: rgb(196,0,0);
}
input[type=submit]:hover{
	background-color: rgb(255,85,115);
}
#input1::-webkit-input-placeholder { /*更改input框placeholder属性样式*/
    font-size: 18px;
    text-indent: 6.5em;
     color:#CCC;

}
#input2::-webkit-input-placeholder { 
    font-size: 18px;
    text-indent: 4em;
    color:#CCC;

}
#bangzhu{
	box-sizing: border-box;
	display: inline-block;
	height: 100px;
	width: 35px;
	font-size: 15px;
	text-align: center;
	background-color: #aaa;
	padding:10px 5px;
	position:fixed;
	right: 0px;
	top: 50%;
	color: #CCC;
}
#bangzhu:hover{
	color: #FFF;
}
#xieyi{
	height: 420px;
	width: 650px;
	background-color: #FFF;
	position: fixed; /*固定位置*/
	top: 150px;
	left: 350px;
	border: 2px solid #CCC;
	border-top: 2px solid red;
}
.xieyi_1{
	display: block;
	height:13px;
	width:13px;
	background: url(../img/a/s_close.gif)no-repeat;
	background-size: cover;
	float: right;
	margin: 15px;
}
h3{
	margin: 22px 0px 15px 20px;
	color: #555;
}
#xieyi p{
	font-size: 12px;
	color: #111;
	margin-left: 25px;
	line-height: 22px;
}
#xieyi p a{
	color: #FF0036;
	font-size: 18px;
	font-weight: bold;
	line-height: 25px;
}
#xieyi p a:hover{
	text-decoration: underline;
}
#xieyi span{
	text-decoration: underline;
	color: #111;
	font-weight: bold;
}
#buttom{
	display: inline-block;
	width: 160px;
	height: 35px;
	line-height: 35px;
	text-align: center;
	font-weight: bold;
	color: #FFF;
	background-color: #FF0036;
	margin: 7px 0px 0px 245px;
	border-radius: 3px;
}
#buttom:hover{
	background-color: rgb(195,85,115);
}
